.popup__input-error {
    display: block;
    width: 358px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
    min-height: 30px;
}

.popup__input-error:last-of-type {
    margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
    .popup__input-error {
        width: 238px;
    }

    .popup__input-error:last-of-type {
        margin-bottom: 15px;
    }
}