.profile {
  max-width: 880px;
  margin:auto;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 42px 19px 36px 19px;
    flex-direction: column;
    max-width: 282px;
  }
}
