.elements__item {
  margin: 0;
  padding: 0;
  border-radius: 3%;
  overflow: hidden;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 282px 1fr;
  align-items: center;
  grid-template-areas:
    "image image"
    "text like-button"
    "text like-counter";
  position: relative;
}
