.profile__info {
  overflow-wrap: break-word;
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, max-content) 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding-top: 26px;
    padding-bottom: 33px;
    text-align: center;
    column-gap: 10px;
    row-gap: 8px;
    grid-template-columns: minmax(0, max-content) 18px;
    padding-left: 15px;
  }
}
