.popup__save-button {
  border: none;
  padding: 0;
  margin-bottom: 37px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  transition: background-color 0.3s;
  border-radius: 2px;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
  }
}
